In [1]:
import numpy as np

import pandas as pd
from pandas import Series,DataFrame

In [2]:
ser1 = Series(np.arange(3),index=['a','b','c'])
ser1

a    0
b    1
c    2
dtype: int64

In [8]:
# Dropping an index: everything in row b is dropped; DROP is not permanent, 
# MUST save as another array if want changes
# to be present
ser1.drop('b')

a    0
c    2
dtype: int64

In [5]:
dframe1 = DataFrame(np.arange(9).reshape((3,3)),index=['SF','LA','NYC'],columns=['pop','size','year'])

In [6]:
dframe1

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>pop</th>
      <th>size</th>
      <th>year</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>SF</th>
      <td>0</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>LA</th>
      <td>3</td>
      <td>4</td>
      <td>5</td>
    </tr>
    <tr>
      <th>NYC</th>
      <td>6</td>
      <td>7</td>
      <td>8</td>
    </tr>
  </tbody>
</table>
</div>

In [7]:
dframe1.drop('LA')

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>pop</th>
      <th>size</th>
      <th>year</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>SF</th>
      <td>0</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>NYC</th>
      <td>6</td>
      <td>7</td>
      <td>8</td>
    </tr>
  </tbody>
</table>
</div>

In [9]:
dframe1

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>pop</th>
      <th>size</th>
      <th>year</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>SF</th>
      <td>0</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>LA</th>
      <td>3</td>
      <td>4</td>
      <td>5</td>
    </tr>
    <tr>
      <th>NYC</th>
      <td>6</td>
      <td>7</td>
      <td>8</td>
    </tr>
  </tbody>
</table>
</div>

In [10]:
# Dropping a column; we must specify which column: default axis is zero(rows), axis=1(columns) 
dframe1.drop('year',axis=1)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>pop</th>
      <th>size</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>SF</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>LA</th>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <th>NYC</th>
      <td>6</td>
      <td>7</td>
    </tr>
  </tbody>
</table>
</div>