In [31]:
import numpy as np

import pandas as pd
from pandas import Series,DataFrame

In [ ]:
arr = np.array([[1,2,np.nan],[np.nan,3,4]])

In [ ]:
dframe1 = DataFrame(arr,index=['A','B'],columns=['One','Two','Three'])

dframe1

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>One</th>
      <th>Two</th>
      <th>Three</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>A</th>
      <td>1.0</td>
      <td>2.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>B</th>
      <td>NaN</td>
      <td>3.0</td>
      <td>4.0</td>
    </tr>
  </tbody>
</table>
</div>

In [ ]:
dframe1.sum()  # sum() function will sum all the values for each column, ignoring NULL values

One      1.0
Two      5.0
Three    4.0
dtype: float64

In [ ]:
dframe1.sum(axis=1)   # default value for sum() function is axis=0 for columns, but if you want to sum rows, define axis=1

A    3.0
B    7.0
dtype: float64

In [ ]:
# min() method will find the minimum value of each column; same goes for the max() function
# default value for min() function is axis=0 for columns, but if you want to find the min of rows, define axis=1
dframe1.min()

One      1.0
Two      2.0
Three    4.0
dtype: float64

In [ ]:
dframe1.idxmin()

One      A
Two      A
Three    B
dtype: object

In [ ]:
dframe1

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>One</th>
      <th>Two</th>
      <th>Three</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>A</th>
      <td>1.0</td>
      <td>2.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>B</th>
      <td>NaN</td>
      <td>3.0</td>
      <td>4.0</td>
    </tr>
  </tbody>
</table>
</div>

In [ ]:
# Accumulation sum function
dframe1.cumsum()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>One</th>
      <th>Two</th>
      <th>Three</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>A</th>
      <td>1.0</td>
      <td>2.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>B</th>
      <td>NaN</td>
      <td>5.0</td>
      <td>4.0</td>
    </tr>
  </tbody>
</table>
</div>

In [ ]:
#  '.describe()' method provides summary statistics for your dataframe
dframe1.describe()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>One</th>
      <th>Two</th>
      <th>Three</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>1.0</td>
      <td>2.000000</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>1.0</td>
      <td>2.500000</td>
      <td>4.0</td>
    </tr>
    <tr>
      <th>std</th>
      <td>NaN</td>
      <td>0.707107</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>min</th>
      <td>1.0</td>
      <td>2.000000</td>
      <td>4.0</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>1.0</td>
      <td>2.250000</td>
      <td>4.0</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>1.0</td>
      <td>2.500000</td>
      <td>4.0</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>1.0</td>
      <td>2.750000</td>
      <td>4.0</td>
    </tr>
    <tr>
      <th>max</th>
      <td>1.0</td>
      <td>3.000000</td>
      <td>4.0</td>
    </tr>
  </tbody>
</table>
</div>

In [ ]:
from IPython.display import YouTubeVideo

In [ ]:
YouTubeVideo('xGbpuFNR1ME')

        <iframe
            width="400"
            height="300"
            src="https://www.youtube.com/embed/xGbpuFNR1ME"
            frameborder="0"
            allowfullscreen
        ></iframe>

In [ ]:
YouTubeVideo('4EXNedimDMs')

        <iframe
            width="400"
            height="300"
            src="https://www.youtube.com/embed/4EXNedimDMs"
            frameborder="0"
            allowfullscreen
        ></iframe>

# Summary Statistics:  Not getting the pandas_datareader module to work so code below doesnt either...

In [32]:
#import pandas.io.data as pdweb  # this syntax allows us to get info off the web

from pandas_datareader import data as wb

import datetime

In [33]:
prices = wb.get_data_yahoo(['CVX','XOM','BP'],start=datetime.datetime(2010,1,1),end=datetime.datetime(2013,1,1))['Adj Close']

prices.head()

ImmediateDeprecationError:
Yahoo Actions has been immediately deprecated due to large breaks in the API without the
introduction of a stable replacement. Pull Requests to re-enable these data
connectors are welcome.

See https://github.com/pydata/pandas-datareader/issues

In [13]:
volume = wb.get_data_yahoo(['CVX','XOM','BP'],start=datetime.datetime(2010,1,1),
                           end=datetime.datetime(2013,1,1))['Volume']

ImmediateDeprecationError:
Yahoo Actions has been immediately deprecated due to large breaks in the API without the
introduction of a stable replacement. Pull Requests to re-enable these data
connectors are welcome.

See https://github.com/pydata/pandas-datareader/issues

In [14]:
volume.head()

NameError: name 'volume' is not defined

In [15]:
rets = prices.pct_change()

NameError: name 'prices' is not defined

In [16]:
# Correlation of the stocks
corr = rets.corr

NameError: name 'rets' is not defined

In [17]:
%matplotlib inline  # use this code to see the graph plot
prices.plot()

NameError: name 'prices' is not defined

In [29]:
import seaborn as sns  # plotting library to help visualize data
import matplotlib.pyplot as plt

In [19]:
sns.corrplot(rets,annot=False,diag_names=False)

AttributeError: module 'seaborn' has no attribute 'corrplot'

In [34]:
ser1 = Series(['w','w','x','y','z','w','x','y','x','a'])

ser1

0    w
1    w
2    x
3    y
4    z
5    w
6    x
7    y
8    x
9    a
dtype: object

In [35]:
# grabbing the unique values from a list
ser1.unique()

array(['w', 'x', 'y', 'z', 'a'], dtype=object)

In [36]:
# count of each unique value
ser1.value_counts()

x    3
w    3
y    2
a    1
z    1
dtype: int64