In [1]:
import numpy as np

In [3]:
import pandas as pd

from pandas import Series, DataFrame

- A series is a set of indexed arrays

In [4]:
obj = Series([3,6,9,12])

obj

0     3
1     6
2     9
3    12
dtype: int64

In [5]:
obj.values

array([ 3,  6,  9, 12])

In [6]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [12]:
ww2_cas = Series([8700000,4300000,3000000,2100000,400000],index=['USSR','Germany','China','Japan','USA'])
                 
# syntax to create a series, give it an index and assign it to a variable

In [9]:
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [14]:
ww2_cas['USA']

400000

In [17]:
# Check which countries had casualties greater than 4 million:
ww2_cas[ww2_cas > 4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [18]:
# Treating series as an ordered dictionary; check if an index or value is in a series

'USSR' in ww2_cas

True

In [19]:
# converting a series into a dictionary; MUST call '.to_dict()' on the object
ww2_dict = ww2_cas.to_dict()

ww2_dict

{'China': 3000000,
 'Germany': 4300000,
 'Japan': 2100000,
 'USA': 400000,
 'USSR': 8700000}

In [20]:
# converting a dictionary back into a series; MUST use the 'Series()' function and pass it the dictionary
ww2_series = Series(ww2_dict)

ww2_series

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [21]:
# if you pass a dictionary to the Series() function, the index will have the dictionary keys in order

countries = ['China', 'Germany', 'Japan', 'USA', 'USSR', 'Argentina']

In [22]:
obj2 = Series(ww2_dict,index=countries)

obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [23]:
# Pandas built-in functions/methods to find 'Null', 'replace Null', or if they're even there or not. 
# Built-In Methods:  '.isnull' and '.notnull'

pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [24]:
pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [25]:
ww2_series

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [26]:
# adding series' together and it automatically aligns data by index

obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [28]:
ww2_series + obj2

Argentina           NaN
China         6000000.0
Germany       8600000.0
Japan         4200000.0
USA            800000.0
USSR         17400000.0
dtype: float64

In [30]:
# Assigning a name to the results/output as a footer (x-axis) describing the above data
obj2.name = "World War 2 Casualties"

obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: World War 2 Casualties, dtype: float64

In [32]:
# Assinging a name to the indexes of a series;
obj2.index.name = 'Countries'

obj2

Countries
China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: World War 2 Casualties, dtype: float64