In [2]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

# Randomly Reordering the Rows in a Series or DataFrame

In [3]:
dframe = DataFrame(np.arange(16).reshape(4,4))

In [4]:
# Syntax here will take a the set 0,1,2,3 and randomly scramble its order
blender = np.random.permutation(4)

In [5]:
blender

array([1, 3, 0, 2])

In [6]:
dframe

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1</th>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
    </tr>
    <tr>
      <th>2</th>
      <td>8</td>
      <td>9</td>
      <td>10</td>
      <td>11</td>
    </tr>
    <tr>
      <th>3</th>
      <td>12</td>
      <td>13</td>
      <td>14</td>
      <td>15</td>
    </tr>
  </tbody>
</table>
</div>

In [8]:
# How to get a permutation(reorder) of this dataframe's rows is to use the '.take()' method
# Here, we are using the '.take()' method and passing it the variable blender, which took the first row in dframe,
# '0,1,2,3' and scrambled its order. Now we are using that order with the .take() method to create a new index of
# dframe. 
# blender = '1,3,0,2' is now the indexed order (top down) and their corresponding rows follow
dframe.take(blender)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>12</td>
      <td>13</td>
      <td>14</td>
      <td>15</td>
    </tr>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2</th>
      <td>8</td>
      <td>9</td>
      <td>10</td>
      <td>11</td>
    </tr>
  </tbody>
</table>
</div>

# Permutation with Replacement

In [9]:
# Remember, an array starts at 0, and doesnt include the last parameter so this array only includes 0,1 & 2
# hence the shaker ouput outlier of 0 and 2 below
box = np.array([1,2,3])

In [10]:
shaker = np.random.randint(0,len(box),size=10)

In [11]:
shaker

array([2, 0, 2, 1, 0, 2, 0, 2, 1, 0])

In [12]:
hand_grabs = box.take(shaker)

In [13]:
hand_grabs

array([3, 1, 3, 2, 1, 3, 1, 3, 2, 1])