In [1]:
import numpy as np
import pandas as pd

#Assessing Data
Using pandas, explore all_alpha_08.csv and all_alpha_18.csv in the Jupyter Notebook below to answer quiz questions below the notebook about these characteristics of the datasets:

- number of samples in each dataset
- number of columns in each dataset
- duplicate rows in each dataset
- datatypes of columns
- features with missing values
- number of non-null unique values for features in each dataset
- what those unique values are and counts for each

## Assessing
Use the space below to explore `all_alpha_08.csv` and `all_alpha_18.csv` to answer the quiz questions below.

In [2]:
mv_08_fp = '/Volumes/LACIE SETUP/Data_Science/Udacity_DataAnalyst_NanoDegree_Projects/' \
           'Data_Analysis_Process/all_alpha_08.txt'

mv_18_fp = '/Volumes/LACIE SETUP/Data_Science/Udacity_DataAnalyst_NanoDegree_Projects/' \
           'Data_Analysis_Process/all_alpha_18.txt'

In [3]:
mv_08_df = pd.read_csv(mv_08_fp, sep='\t')

mv_08_df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Model</th>
      <th>Displ</th>
      <th>Cyl</th>
      <th>Trans</th>
      <th>Drive</th>
      <th>Fuel</th>
      <th>Sales Area</th>
      <th>Stnd</th>
      <th>Underhood ID</th>
      <th>Veh Class</th>
      <th>Air Pollution Score</th>
      <th>FE Calc Appr</th>
      <th>City MPG</th>
      <th>Hwy MPG</th>
      <th>Cmb MPG</th>
      <th>Unadj Cmb MPG</th>
      <th>Greenhouse Gas Score</th>
      <th>SmartWay</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>ACURA MDX</td>
      <td>3.7</td>
      <td>(6 cyl)</td>
      <td>Auto-S5</td>
      <td>4WD</td>
      <td>Gasoline</td>
      <td>CA</td>
      <td>U2</td>
      <td>8HNXT03.7PKR</td>
      <td>SUV</td>
      <td>7</td>
      <td>Drv</td>
      <td>15</td>
      <td>20</td>
      <td>17</td>
      <td>22.0527</td>
      <td>4</td>
      <td>no</td>
    </tr>
    <tr>
      <th>1</th>
      <td>ACURA MDX</td>
      <td>3.7</td>
      <td>(6 cyl)</td>
      <td>Auto-S5</td>
      <td>4WD</td>
      <td>Gasoline</td>
      <td>FA</td>
      <td>B5</td>
      <td>8HNXT03.7PKR</td>
      <td>SUV</td>
      <td>6</td>
      <td>Drv</td>
      <td>15</td>
      <td>20</td>
      <td>17</td>
      <td>22.0527</td>
      <td>4</td>
      <td>no</td>
    </tr>
    <tr>
      <th>2</th>
      <td>ACURA RDX</td>
      <td>2.3</td>
      <td>(4 cyl)</td>
      <td>Auto-S5</td>
      <td>4WD</td>
      <td>Gasoline</td>
      <td>CA</td>
      <td>U2</td>
      <td>8HNXT02.3DKR</td>
      <td>SUV</td>
      <td>7</td>
      <td>Drv</td>
      <td>17</td>
      <td>22</td>
      <td>19</td>
      <td>24.1745</td>
      <td>5</td>
      <td>no</td>
    </tr>
    <tr>
      <th>3</th>
      <td>ACURA RDX</td>
      <td>2.3</td>
      <td>(4 cyl)</td>
      <td>Auto-S5</td>
      <td>4WD</td>
      <td>Gasoline</td>
      <td>FA</td>
      <td>B5</td>
      <td>8HNXT02.3DKR</td>
      <td>SUV</td>
      <td>6</td>
      <td>Drv</td>
      <td>17</td>
      <td>22</td>
      <td>19</td>
      <td>24.1745</td>
      <td>5</td>
      <td>no</td>
    </tr>
    <tr>
      <th>4</th>
      <td>ACURA RL</td>
      <td>3.5</td>
      <td>(6 cyl)</td>
      <td>Auto-S5</td>
      <td>4WD</td>
      <td>Gasoline</td>
      <td>CA</td>
      <td>U2</td>
      <td>8HNXV03.5HKR</td>
      <td>midsize car</td>
      <td>7</td>
      <td>Drv</td>
      <td>16</td>
      <td>24</td>
      <td>19</td>
      <td>24.5629</td>
      <td>5</td>
      <td>no</td>
    </tr>
  </tbody>
</table>
</div>

In [4]:
mv_08_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2404 entries, 0 to 2403
Data columns (total 18 columns):
Model                   2404 non-null object
Displ                   2404 non-null float64
Cyl                     2205 non-null object
Trans                   2205 non-null object
Drive                   2311 non-null object
Fuel                    2404 non-null object
Sales Area              2404 non-null object
Stnd                    2404 non-null object
Underhood ID            2404 non-null object
Veh Class               2404 non-null object
Air Pollution Score     2404 non-null object
FE Calc Appr            2205 non-null object
City MPG                2205 non-null object
Hwy MPG                 2205 non-null object
Cmb MPG                 2205 non-null object
Unadj Cmb MPG           2205 non-null float64
Greenhouse Gas Score    2205 non-null object
SmartWay                2404 non-null object
dtypes: float64(2), object(16)
memory usage: 338.1+ KB

In [5]:
# Finding the number of rows within the dataset with missing values
sum([True for idx, row in mv_08_df.iterrows() if any(row.isnull())])

199

In [6]:
# Number of non-null unique values within each feature series or column
mv_08_df['SmartWay'].nunique()

2

In [7]:
# Where are each of these fuel types present
list(mv_08_df['Fuel'].unique())

['Gasoline', 'ethanol/gas', 'ethanol', 'diesel', 'CNG']

In [8]:
mv_18_df = pd.read_csv(mv_18_fp, sep='\t')

mv_18_df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Model</th>
      <th>Displ</th>
      <th>Cyl</th>
      <th>Trans</th>
      <th>Drive</th>
      <th>Fuel</th>
      <th>Cert Region</th>
      <th>Stnd</th>
      <th>Stnd Description</th>
      <th>Underhood ID</th>
      <th>Veh Class</th>
      <th>Air Pollution Score</th>
      <th>City MPG</th>
      <th>Hwy MPG</th>
      <th>Cmb MPG</th>
      <th>Greenhouse Gas Score</th>
      <th>SmartWay</th>
      <th>Comb CO2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>ACURA ILX</td>
      <td>2.4</td>
      <td>4.0</td>
      <td>AMS-8</td>
      <td>2WD</td>
      <td>Gasoline</td>
      <td>CA</td>
      <td>L3ULEV125</td>
      <td>California LEV-III ULEV125</td>
      <td>JHNXV02.4NH3</td>
      <td>small car</td>
      <td>3</td>
      <td>25</td>
      <td>35</td>
      <td>29</td>
      <td>6</td>
      <td>No</td>
      <td>309</td>
    </tr>
    <tr>
      <th>1</th>
      <td>ACURA ILX</td>
      <td>2.4</td>
      <td>4.0</td>
      <td>AMS-8</td>
      <td>2WD</td>
      <td>Gasoline</td>
      <td>FA</td>
      <td>T3B125</td>
      <td>Federal Tier 3 Bin 125</td>
      <td>JHNXV02.4NH3</td>
      <td>small car</td>
      <td>3</td>
      <td>25</td>
      <td>35</td>
      <td>29</td>
      <td>6</td>
      <td>No</td>
      <td>309</td>
    </tr>
    <tr>
      <th>2</th>
      <td>ACURA MDX</td>
      <td>3.0</td>
      <td>6.0</td>
      <td>AMS-7</td>
      <td>4WD</td>
      <td>Gasoline</td>
      <td>CA</td>
      <td>L3ULEV125</td>
      <td>California LEV-III ULEV125</td>
      <td>JHNXV03.08H3</td>
      <td>small SUV</td>
      <td>3</td>
      <td>26</td>
      <td>27</td>
      <td>27</td>
      <td>6</td>
      <td>No</td>
      <td>330</td>
    </tr>
    <tr>
      <th>3</th>
      <td>ACURA MDX</td>
      <td>3.0</td>
      <td>6.0</td>
      <td>AMS-7</td>
      <td>4WD</td>
      <td>Gasoline</td>
      <td>FA</td>
      <td>T3B125</td>
      <td>Federal Tier 3 Bin 125</td>
      <td>JHNXV03.08H3</td>
      <td>small SUV</td>
      <td>3</td>
      <td>26</td>
      <td>27</td>
      <td>27</td>
      <td>6</td>
      <td>No</td>
      <td>330</td>
    </tr>
    <tr>
      <th>4</th>
      <td>ACURA MDX</td>
      <td>3.5</td>
      <td>6.0</td>
      <td>SemiAuto-9</td>
      <td>2WD</td>
      <td>Gasoline</td>
      <td>CA</td>
      <td>L3ULEV125</td>
      <td>California LEV-III ULEV125</td>
      <td>JHNXV03.5RH3</td>
      <td>small SUV</td>
      <td>3</td>
      <td>19</td>
      <td>27</td>
      <td>22</td>
      <td>4</td>
      <td>No</td>
      <td>404</td>
    </tr>
  </tbody>
</table>
</div>

In [9]:
mv_18_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2648 entries, 0 to 2647
Data columns (total 18 columns):
Model                   2648 non-null object
Displ                   2612 non-null float64
Cyl                     2612 non-null float64
Trans                   2648 non-null object
Drive                   2648 non-null object
Fuel                    2648 non-null object
Cert Region             2648 non-null object
Stnd                    2648 non-null object
Stnd Description        2648 non-null object
Underhood ID            2648 non-null object
Veh Class               2648 non-null object
Air Pollution Score     2648 non-null int64
City MPG                2648 non-null object
Hwy MPG                 2648 non-null object
Cmb MPG                 2648 non-null object
Greenhouse Gas Score    2648 non-null int64
SmartWay                2648 non-null object
Comb CO2                2648 non-null object
dtypes: float64(2), int64(2), object(14)
memory usage: 372.5+ KB

In [10]:
sum(mv_18_df.duplicated())

0

#Cleaning Column Labels

##1. Drop extraneous columns
Drop features that aren't consistent (not present in both datasets) or aren't relevant to our questions. Use pandas' drop function.

Columns to Drop:
- From 2008 dataset: 'Stnd', 'Underhood ID', 'FE Calc Appr', 'Unadj Cmb MPG'

- From 2018 dataset: 'Stnd', 'Stnd Description', 'Underhood ID', 'Comb CO2'

##2. Rename Columns

- Change the "Sales Area" column label in the 2008 dataset to "Cert Region" for consistency.
    
- Rename all column labels to replace spaces with underscores and convert everything to lowercase. (Underscores can be much easier to work with in Python than spaces. For example, having spaces wouldn't allow you to use df.column_name instead of df['column_name'] to select columns or use query(). Being consistent with lowercase and underscores also helps make column names easy to remember.)

### Drop Extraneous Columns

In [11]:
# drop columns from 2008 dataset
mv_08_df.drop(['Stnd', 'Underhood ID', 'FE Calc Appr', 'Unadj Cmb MPG'], axis=1, inplace=True)

# confirm changes
mv_08_df.head(1)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Model</th>
      <th>Displ</th>
      <th>Cyl</th>
      <th>Trans</th>
      <th>Drive</th>
      <th>Fuel</th>
      <th>Sales Area</th>
      <th>Veh Class</th>
      <th>Air Pollution Score</th>
      <th>City MPG</th>
      <th>Hwy MPG</th>
      <th>Cmb MPG</th>
      <th>Greenhouse Gas Score</th>
      <th>SmartWay</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>ACURA MDX</td>
      <td>3.7</td>
      <td>(6 cyl)</td>
      <td>Auto-S5</td>
      <td>4WD</td>
      <td>Gasoline</td>
      <td>CA</td>
      <td>SUV</td>
      <td>7</td>
      <td>15</td>
      <td>20</td>
      <td>17</td>
      <td>4</td>
      <td>no</td>
    </tr>
  </tbody>
</table>
</div>

In [12]:
# drop columns from 2018 dataset
mv_18_df.drop(['Stnd', 'Stnd Description', 'Underhood ID', 'Comb CO2'], axis=1, inplace=True)

# confirm changes
mv_18_df.head(1)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Model</th>
      <th>Displ</th>
      <th>Cyl</th>
      <th>Trans</th>
      <th>Drive</th>
      <th>Fuel</th>
      <th>Cert Region</th>
      <th>Veh Class</th>
      <th>Air Pollution Score</th>
      <th>City MPG</th>
      <th>Hwy MPG</th>
      <th>Cmb MPG</th>
      <th>Greenhouse Gas Score</th>
      <th>SmartWay</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>ACURA ILX</td>
      <td>2.4</td>
      <td>4.0</td>
      <td>AMS-8</td>
      <td>2WD</td>
      <td>Gasoline</td>
      <td>CA</td>
      <td>small car</td>
      <td>3</td>
      <td>25</td>
      <td>35</td>
      <td>29</td>
      <td>6</td>
      <td>No</td>
    </tr>
  </tbody>
</table>
</div>

### Rename Columns

In [13]:
# rename Sales Area to Cert Region
mv_08_df.rename(columns={'Sales Area': 'Cert Region'}, inplace=True)

# confirm changes
mv_08_df.head(1)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Model</th>
      <th>Displ</th>
      <th>Cyl</th>
      <th>Trans</th>
      <th>Drive</th>
      <th>Fuel</th>
      <th>Cert Region</th>
      <th>Veh Class</th>
      <th>Air Pollution Score</th>
      <th>City MPG</th>
      <th>Hwy MPG</th>
      <th>Cmb MPG</th>
      <th>Greenhouse Gas Score</th>
      <th>SmartWay</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>ACURA MDX</td>
      <td>3.7</td>
      <td>(6 cyl)</td>
      <td>Auto-S5</td>
      <td>4WD</td>
      <td>Gasoline</td>
      <td>CA</td>
      <td>SUV</td>
      <td>7</td>
      <td>15</td>
      <td>20</td>
      <td>17</td>
      <td>4</td>
      <td>no</td>
    </tr>
  </tbody>
</table>
</div>

In [14]:
# replace spaces with underscores and lowercase labels for 2008 dataset
mv_08_df.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)

# confirm changes
mv_08_df.head(1)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>model</th>
      <th>displ</th>
      <th>cyl</th>
      <th>trans</th>
      <th>drive</th>
      <th>fuel</th>
      <th>cert_region</th>
      <th>veh_class</th>
      <th>air_pollution_score</th>
      <th>city_mpg</th>
      <th>hwy_mpg</th>
      <th>cmb_mpg</th>
      <th>greenhouse_gas_score</th>
      <th>smartway</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>ACURA MDX</td>
      <td>3.7</td>
      <td>(6 cyl)</td>
      <td>Auto-S5</td>
      <td>4WD</td>
      <td>Gasoline</td>
      <td>CA</td>
      <td>SUV</td>
      <td>7</td>
      <td>15</td>
      <td>20</td>
      <td>17</td>
      <td>4</td>
      <td>no</td>
    </tr>
  </tbody>
</table>
</div>

In [15]:
# replace spaces with underscores and lowercase labels for 2018 dataset
mv_18_df.rename(columns=lambda x: x.strip().lower().replace(' ', '_'), inplace=True)

# confirm changes
mv_18_df.head(1)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>model</th>
      <th>displ</th>
      <th>cyl</th>
      <th>trans</th>
      <th>drive</th>
      <th>fuel</th>
      <th>cert_region</th>
      <th>veh_class</th>
      <th>air_pollution_score</th>
      <th>city_mpg</th>
      <th>hwy_mpg</th>
      <th>cmb_mpg</th>
      <th>greenhouse_gas_score</th>
      <th>smartway</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>ACURA ILX</td>
      <td>2.4</td>
      <td>4.0</td>
      <td>AMS-8</td>
      <td>2WD</td>
      <td>Gasoline</td>
      <td>CA</td>
      <td>small car</td>
      <td>3</td>
      <td>25</td>
      <td>35</td>
      <td>29</td>
      <td>6</td>
      <td>No</td>
    </tr>
  </tbody>
</table>
</div>

In [16]:
# confirm column labels for 2008 and 2018 datasets are identical
mv_08_df.columns == mv_18_df.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True])

In [17]:
# make sure they're all identical like this
(mv_08_df.columns == mv_18_df.columns).all()

True

##Filter, Drop Nulls, Dedupe

1. Filter
For consistency, only compare cars certified by California standards. Filter both datasets using query to select only rows where cert_region is CA. Then, drop the cert_region columns, since it will no longer provide any useful information (we'll know every value is 'CA').

2. Drop Nulls
Drop any rows in both datasets that contain missing values.

3. Dedupe
Drop any duplicate rows in both datasets.

In [18]:
# view dimensions of 2008 dataset
mv_08_df.shape

(2404, 14)

In [19]:
# view dimensions of 2018 dataset
mv_18_df.shape

(2648, 14)

## Filter by Certification Region

In [20]:
# filter datasets for rows following California standards
mv_08_df = mv_08_df.query('cert_region == "CA"')

mv_18_df = mv_18_df.query('cert_region == "CA"')

In [21]:
# confirm only certification region is California
mv_08_df['cert_region'].unique()

array(['CA'], dtype=object)

In [22]:
# confirm only certification region is California
mv_18_df['cert_region'].unique()

array(['CA'], dtype=object)

In [23]:
# drop certification region columns form both datasets
mv_08_df.drop('cert_region', axis=1, inplace=True)

mv_18_df.drop('cert_region', axis=1, inplace=True)

In [24]:
mv_08_df.shape

(1084, 13)

In [25]:
mv_18_df.shape

(1307, 13)

## Drop Rows with Missing Values

In [26]:
# view missing value count for each feature in 2008
mv_08_df.isnull().sum()

model                    0
displ                    0
cyl                     75
trans                   75
drive                   37
fuel                     0
veh_class                0
air_pollution_score      0
city_mpg                75
hwy_mpg                 75
cmb_mpg                 75
greenhouse_gas_score    75
smartway                 0
dtype: int64

In [27]:
# view missing value count for each feature in 2008
mv_18_df.isnull().sum()

model                    0
displ                   15
cyl                     15
trans                    0
drive                    0
fuel                     0
veh_class                0
air_pollution_score      0
city_mpg                 0
hwy_mpg                  0
cmb_mpg                  0
greenhouse_gas_score     0
smartway                 0
dtype: int64

In [28]:
# drop rows with any null values in both datasets
mv_08_df.dropna(inplace=True)
mv_18_df.dropna(inplace=True)

In [29]:
# checks if any of columns in 2008 have null values - should print False
mv_08_df.isnull().sum().any()

False

In [30]:
# checks if any of columns in 2018 have null values - should print False
mv_18_df.isnull().sum().any()

False

## Dedupe Data

In [31]:
# print number of duplicates in 2008 and 2018 datasets
nod_08 = sum(mv_08_df.duplicated())

nod_18 = sum(mv_18_df.duplicated())

print("The number of duplicates in the 2008 dataset is: {}".format(nod_08))

print ("The number of duplicates in the 2018 dataset is: {}".format(nod_18))

The number of duplicates in the 2008 dataset is: 23
The number of duplicates in the 2018 dataset is: 10

In [32]:
# drop duplicates in both datasets
mv_08_df.drop_duplicates(inplace=True)
mv_18_df.drop_duplicates(inplace=True)

In [33]:
# print number of duplicates again to confirm dedupe - should both be 0
print(mv_08_df.duplicated().sum())
print(mv_18_df.duplicated().sum())

0
0

#Inspect Your Datatypes!!!

##Fixing Data Types
In the next three sections, you'll make the following changes to make the datatypes consistent and practical to work with.

###Fix cyl datatype
- 2008: extract int from string.

- 2018: convert float to int.

###Fix air_pollution_score datatype
- 2008: convert string to float.

- 2018: convert int to float.

###Fix city_mpg, hwy_mpg, cmb_mpg datatypes
- 2008 and 2018: convert string to float.

###Fix greenhouse_gas_score datatype
- 2008: convert from float to int.

In this first part, you'll tackle the first one, fixing the cyl datatype.

# Fixing `cyl` Data Type
- 2008: extract int from string
- 2018: convert float to int

In [34]:
# check value counts for the 2008 cyl column
mv_08_df['cyl'].value_counts()

(6 cyl)     409
(4 cyl)     283
(8 cyl)     199
(5 cyl)      48
(12 cyl)     30
(10 cyl)     14
(2 cyl)       2
(16 cyl)      1
Name: cyl, dtype: int64

Read [this](https://stackoverflow.com/questions/35376387/extract-int-from-string-in-pandas) to help you extract ints from strings in Pandas for the next step.

In [35]:
# Extract int from strings in the 2008 cyl column
mv_08_df['cyl'] = mv_08_df['cyl'].str.extract('(\d+)').astype(int)

/Users/calvertlouden/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

In [36]:
# Check value counts for 2008 cyl column again to confirm the change
mv_08_df['cyl'].value_counts()

6     409
4     283
8     199
5      48
12     30
10     14
2       2
16      1
Name: cyl, dtype: int64

In [37]:
# convert 2018 cyl column to int
mv_18_df['cyl'] = mv_18_df['cyl'].astype(int)

In [38]:
mv_18_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1282 entries, 0 to 2646
Data columns (total 13 columns):
model                   1282 non-null object
displ                   1282 non-null float64
cyl                     1282 non-null int64
trans                   1282 non-null object
drive                   1282 non-null object
fuel                    1282 non-null object
veh_class               1282 non-null object
air_pollution_score     1282 non-null int64
city_mpg                1282 non-null object
hwy_mpg                 1282 non-null object
cmb_mpg                 1282 non-null object
greenhouse_gas_score    1282 non-null int64
smartway                1282 non-null object
dtypes: float64(1), int64(3), object(9)
memory usage: 140.2+ KB

# Fixing `air_pollution_score` Data Type
- 2008: convert string to float
- 2018: convert int to float

In [39]:
# try using Pandas to_numeric or astype function to convert the
# 2008 air_pollution_score column to float -- this won't work
mv_08_df['air_pollution_score'] = mv_08_df['air_pollution_score'].astype(float)

ValueError: could not convert string to float: '6/4'

# Figuring out the issue
Looks like this isn't going to be as simple as converting the datatype. According to the error above, the value at row 582 is "6/4" - let's check it out.

In [40]:
mv_08_df.iloc[582]

model                   MERCEDES-BENZ C300
displ                                    3
cyl                                      6
trans                              Auto-L7
drive                                  2WD
fuel                           ethanol/gas
veh_class                        small car
air_pollution_score                    6/4
city_mpg                             13/18
hwy_mpg                              19/25
cmb_mpg                              15/21
greenhouse_gas_score                   7/6
smartway                                no
Name: 1550, dtype: object

# It's not just the air pollution score!
The mpg columns and greenhouse gas scores also seem to have the same problem - maybe that's why these were all saved as strings! According to [this link](http://www.fueleconomy.gov/feg/findacarhelp.shtml#airPollutionScore), which I found from the PDF documentation:

"If a vehicle can operate on more than one type of fuel, an estimate is provided for each fuel type."

Ohh.. so all vehicles with more than one fuel type, or hybrids, like the one above (it uses ethanol AND gas) will have a string that holds two values - one for each. This is a little tricky, so I'm going to show you how to do it with the 2008 dataset, and then you'll try it with the 2018 dataset.

In [41]:
# First, let's get all the hybrids in 2008
hb_08 = mv_08_df[mv_08_df['fuel'].str.contains('/')]
hb_08

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>model</th>
      <th>displ</th>
      <th>cyl</th>
      <th>trans</th>
      <th>drive</th>
      <th>fuel</th>
      <th>veh_class</th>
      <th>air_pollution_score</th>
      <th>city_mpg</th>
      <th>hwy_mpg</th>
      <th>cmb_mpg</th>
      <th>greenhouse_gas_score</th>
      <th>smartway</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1550</th>
      <td>MERCEDES-BENZ C300</td>
      <td>3.0</td>
      <td>6</td>
      <td>Auto-L7</td>
      <td>2WD</td>
      <td>ethanol/gas</td>
      <td>small car</td>
      <td>6/4</td>
      <td>13/18</td>
      <td>19/25</td>
      <td>15/21</td>
      <td>7/6</td>
      <td>no</td>
    </tr>
  </tbody>
</table>
</div>

Looks like this dataset only has one! The 2018 has MANY more - but don't worry - the steps I'm taking here will work for that as well!

In [49]:
# hybrids in 2018
hb_18 = mv_18_df[mv_18_df['fuel'].str.contains('/')]
hb_18.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>model</th>
      <th>displ</th>
      <th>cyl</th>
      <th>trans</th>
      <th>drive</th>
      <th>fuel</th>
      <th>veh_class</th>
      <th>air_pollution_score</th>
      <th>city_mpg</th>
      <th>hwy_mpg</th>
      <th>cmb_mpg</th>
      <th>greenhouse_gas_score</th>
      <th>smartway</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>55</th>
      <td>AUDI A3 e-tron</td>
      <td>1.4</td>
      <td>4</td>
      <td>AMS-6</td>
      <td>2WD</td>
      <td>Gasoline/Electricity</td>
      <td>small car</td>
      <td>7</td>
      <td>34/81</td>
      <td>39/86</td>
      <td>36/83</td>
      <td>10</td>
      <td>Elite</td>
    </tr>
    <tr>
      <th>171</th>
      <td>BMW 330e</td>
      <td>2.0</td>
      <td>4</td>
      <td>SemiAuto-8</td>
      <td>2WD</td>
      <td>Gasoline/Electricity</td>
      <td>small car</td>
      <td>3</td>
      <td>28/66</td>
      <td>34/78</td>
      <td>30/71</td>
      <td>10</td>
      <td>Yes</td>
    </tr>
    <tr>
      <th>223</th>
      <td>BMW 530e</td>
      <td>2.0</td>
      <td>4</td>
      <td>SemiAuto-8</td>
      <td>2WD</td>
      <td>Gasoline/Electricity</td>
      <td>small car</td>
      <td>7</td>
      <td>27/70</td>
      <td>31/75</td>
      <td>29/72</td>
      <td>10</td>
      <td>Elite</td>
    </tr>
    <tr>
      <th>225</th>
      <td>BMW 530e</td>
      <td>2.0</td>
      <td>4</td>
      <td>SemiAuto-8</td>
      <td>4WD</td>
      <td>Gasoline/Electricity</td>
      <td>small car</td>
      <td>7</td>
      <td>27/66</td>
      <td>31/68</td>
      <td>28/67</td>
      <td>10</td>
      <td>Elite</td>
    </tr>
    <tr>
      <th>255</th>
      <td>BMW 740e</td>
      <td>2.0</td>
      <td>4</td>
      <td>SemiAuto-8</td>
      <td>4WD</td>
      <td>Gasoline/Electricity</td>
      <td>large car</td>
      <td>3</td>
      <td>25/62</td>
      <td>29/68</td>
      <td>27/64</td>
      <td>9</td>
      <td>Yes</td>
    </tr>
  </tbody>
</table>
</div>

We're going to take each hybrid row and split them into two new rows - one with values for the first fuel type (values before the "/"), and the other with values for the second fuel type (values after the "/"). Let's separate them with two dataframes!

In [50]:
# create two copies of the 2008 hybrids dataframe
df1 = hb_08.copy()  # data on first fuel type of each hybrid vehicle
df2 = hb_08.copy()  # data on second fuel type of each hybrid vehicle

# Each one should look like this
df1

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>model</th>
      <th>displ</th>
      <th>cyl</th>
      <th>trans</th>
      <th>drive</th>
      <th>fuel</th>
      <th>veh_class</th>
      <th>air_pollution_score</th>
      <th>city_mpg</th>
      <th>hwy_mpg</th>
      <th>cmb_mpg</th>
      <th>greenhouse_gas_score</th>
      <th>smartway</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1550</th>
      <td>MERCEDES-BENZ C300</td>
      <td>3.0</td>
      <td>6</td>
      <td>Auto-L7</td>
      <td>2WD</td>
      <td>ethanol/gas</td>
      <td>small car</td>
      <td>6/4</td>
      <td>13/18</td>
      <td>19/25</td>
      <td>15/21</td>
      <td>7/6</td>
      <td>no</td>
    </tr>
  </tbody>
</table>
</div>

For this next part, we're going use Pandas' apply function. See the docs [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html).

In [51]:
# creating a list of columns to split by "/"
split_columns = ['fuel', 'air_pollution_score', 'city_mpg', 'hwy_mpg', 'cmb_mpg', 'greenhouse_gas_score']

# apply split function to each column of each dataframe copy
for c in split_columns:
    df1[c] = df1[c].apply(lambda x: x.split("/")[0])
    df2[c] = df2[c].apply(lambda x: x.split("/")[1])

In [52]:
# this dataframe holds info for the FIRST fuel type of the hybrid
# aka the values before the "/"s
df1

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>model</th>
      <th>displ</th>
      <th>cyl</th>
      <th>trans</th>
      <th>drive</th>
      <th>fuel</th>
      <th>veh_class</th>
      <th>air_pollution_score</th>
      <th>city_mpg</th>
      <th>hwy_mpg</th>
      <th>cmb_mpg</th>
      <th>greenhouse_gas_score</th>
      <th>smartway</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1550</th>
      <td>MERCEDES-BENZ C300</td>
      <td>3.0</td>
      <td>6</td>
      <td>Auto-L7</td>
      <td>2WD</td>
      <td>ethanol</td>
      <td>small car</td>
      <td>6</td>
      <td>13</td>
      <td>19</td>
      <td>15</td>
      <td>7</td>
      <td>no</td>
    </tr>
  </tbody>
</table>
</div>

In [53]:
# this dataframe holds info for the SECOND fuel type of the hybrid
# aka the values before the "/"s
df2

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>model</th>
      <th>displ</th>
      <th>cyl</th>
      <th>trans</th>
      <th>drive</th>
      <th>fuel</th>
      <th>veh_class</th>
      <th>air_pollution_score</th>
      <th>city_mpg</th>
      <th>hwy_mpg</th>
      <th>cmb_mpg</th>
      <th>greenhouse_gas_score</th>
      <th>smartway</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1550</th>
      <td>MERCEDES-BENZ C300</td>
      <td>3.0</td>
      <td>6</td>
      <td>Auto-L7</td>
      <td>2WD</td>
      <td>gas</td>
      <td>small car</td>
      <td>4</td>
      <td>18</td>
      <td>25</td>
      <td>21</td>
      <td>6</td>
      <td>no</td>
    </tr>
  </tbody>
</table>
</div>

In [54]:
# combine dataframes to add to the original dataframe
new_rows = df1.append(df2)

# now we have separate rows for each fuel type of each vehicle!
new_rows

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>model</th>
      <th>displ</th>
      <th>cyl</th>
      <th>trans</th>
      <th>drive</th>
      <th>fuel</th>
      <th>veh_class</th>
      <th>air_pollution_score</th>
      <th>city_mpg</th>
      <th>hwy_mpg</th>
      <th>cmb_mpg</th>
      <th>greenhouse_gas_score</th>
      <th>smartway</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1550</th>
      <td>MERCEDES-BENZ C300</td>
      <td>3.0</td>
      <td>6</td>
      <td>Auto-L7</td>
      <td>2WD</td>
      <td>ethanol</td>
      <td>small car</td>
      <td>6</td>
      <td>13</td>
      <td>19</td>
      <td>15</td>
      <td>7</td>
      <td>no</td>
    </tr>
    <tr>
      <th>1550</th>
      <td>MERCEDES-BENZ C300</td>
      <td>3.0</td>
      <td>6</td>
      <td>Auto-L7</td>
      <td>2WD</td>
      <td>gas</td>
      <td>small car</td>
      <td>4</td>
      <td>18</td>
      <td>25</td>
      <td>21</td>
      <td>6</td>
      <td>no</td>
    </tr>
  </tbody>
</table>
</div>

In [55]:
# drop the original hybrid rows
mv_08_df.drop(hb_08.index, inplace=True)

# add in our newly separated rows
mv_08_df = mv_08_df.append(new_rows, ignore_index=True)

In [56]:
# check that all the original hybrid rows with "/"s are gone
mv_08_df[mv_08_df['fuel'].str.contains('/')]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>model</th>
      <th>displ</th>
      <th>cyl</th>
      <th>trans</th>
      <th>drive</th>
      <th>fuel</th>
      <th>veh_class</th>
      <th>air_pollution_score</th>
      <th>city_mpg</th>
      <th>hwy_mpg</th>
      <th>cmb_mpg</th>
      <th>greenhouse_gas_score</th>
      <th>smartway</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>

In [57]:
mv_08_df.shape

(987, 13)

# Repeat this process for the 2018 dataset

In [58]:
# create two copies of the 2018 hybrids dataframe, hb_18
df1 = hb_18.copy()  # data on first fuel type of each hybrid vehicle
df2 = hb_18.copy()  # data on second fuel type of each hybrid vehicle

# what the dataframes should look like
df1.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>model</th>
      <th>displ</th>
      <th>cyl</th>
      <th>trans</th>
      <th>drive</th>
      <th>fuel</th>
      <th>veh_class</th>
      <th>air_pollution_score</th>
      <th>city_mpg</th>
      <th>hwy_mpg</th>
      <th>cmb_mpg</th>
      <th>greenhouse_gas_score</th>
      <th>smartway</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>55</th>
      <td>AUDI A3 e-tron</td>
      <td>1.4</td>
      <td>4</td>
      <td>AMS-6</td>
      <td>2WD</td>
      <td>Gasoline/Electricity</td>
      <td>small car</td>
      <td>7</td>
      <td>34/81</td>
      <td>39/86</td>
      <td>36/83</td>
      <td>10</td>
      <td>Elite</td>
    </tr>
    <tr>
      <th>171</th>
      <td>BMW 330e</td>
      <td>2.0</td>
      <td>4</td>
      <td>SemiAuto-8</td>
      <td>2WD</td>
      <td>Gasoline/Electricity</td>
      <td>small car</td>
      <td>3</td>
      <td>28/66</td>
      <td>34/78</td>
      <td>30/71</td>
      <td>10</td>
      <td>Yes</td>
    </tr>
    <tr>
      <th>223</th>
      <td>BMW 530e</td>
      <td>2.0</td>
      <td>4</td>
      <td>SemiAuto-8</td>
      <td>2WD</td>
      <td>Gasoline/Electricity</td>
      <td>small car</td>
      <td>7</td>
      <td>27/70</td>
      <td>31/75</td>
      <td>29/72</td>
      <td>10</td>
      <td>Elite</td>
    </tr>
    <tr>
      <th>225</th>
      <td>BMW 530e</td>
      <td>2.0</td>
      <td>4</td>
      <td>SemiAuto-8</td>
      <td>4WD</td>
      <td>Gasoline/Electricity</td>
      <td>small car</td>
      <td>7</td>
      <td>27/66</td>
      <td>31/68</td>
      <td>28/67</td>
      <td>10</td>
      <td>Elite</td>
    </tr>
    <tr>
      <th>255</th>
      <td>BMW 740e</td>
      <td>2.0</td>
      <td>4</td>
      <td>SemiAuto-8</td>
      <td>4WD</td>
      <td>Gasoline/Electricity</td>
      <td>large car</td>
      <td>3</td>
      <td>25/62</td>
      <td>29/68</td>
      <td>27/64</td>
      <td>9</td>
      <td>Yes</td>
    </tr>
  </tbody>
</table>
</div>

### Split values for `fuel`, `city_mpg`, `hwy_mpg`, `cmb_mpg`
You don't need to split for `air_pollution_score` or `greenhouse_gas_score` here because these columns are already ints in the 2018 dataset.

In [59]:
# list of columns to split
split_columns = ['fuel', 'city_mpg', 'hwy_mpg', 'cmb_mpg']

# apply split function to each column of each dataframe copy
for c in split_columns:
    df1[c] = df1[c].apply(lambda x: x.split("/")[0])
    df2[c] = df2[c].apply(lambda x: x.split("/")[1])

In [60]:
# append the two dataframes
new_rows = df1.append(df2)

# drop each hybrid row from the original 2018 dataframe
# do this by using Pandas drop function with hb_18's index
mv_18_df.drop(hb_18.index, inplace=True)

# append new_rows to df_18
mv_18_df = mv_18_df.append(new_rows, ignore_index=True)

In [61]:
# check that they're gone
mv_18_df[mv_18_df['fuel'].str.contains('/')]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>model</th>
      <th>displ</th>
      <th>cyl</th>
      <th>trans</th>
      <th>drive</th>
      <th>fuel</th>
      <th>veh_class</th>
      <th>air_pollution_score</th>
      <th>city_mpg</th>
      <th>hwy_mpg</th>
      <th>cmb_mpg</th>
      <th>greenhouse_gas_score</th>
      <th>smartway</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>

In [62]:
mv_18_df.shape

(1356, 13)

### Now we can comfortably continue the changes needed for `air_pollution_score`! Here they are again:
- 2008: convert string to float
- 2018: convert int to float

In [63]:
# convert int to float for 2018 air pollution column
mv_18_df['air_pollution_score'] = mv_18_df['air_pollution_score'].astype(float)

Fixing Data Types Part 3

In this last section, you'll fix datatypes of columns for mpg and greenhouse gas score.

After you complete these final fixes, check the datatypes of all features in both datasets to confirm success for all the changes we specified earlier. Here they are again for your reference:

Fix cyl datatype
- 2008: extract int from string.
- 2018: convert float to int.

Fix air_pollution_score datatype
- 2008: convert string to float.
- 2018: convert int to float.

Fix city_mpg, hwy_mpg, cmb_mpg datatypes
- 2008 and 2018: convert string to float.

Fix greenhouse_gas_score datatype
- 2008: convert from float to int.

In [80]:
# convert mpg columns to floats
mpg_columns = ['city_mpg', 'hwy_mpg', 'cmb_mpg']
for c in mpg_columns:
    mv_18_df[c] = mv_18_df[c].astype(float)
    mv_08_df[c] = mv_08_df[c].astype(float)

KeyError: 'city_mpg'

## Fix `greenhouse_gas_score` datatype
2008: convert from float to int

In [65]:
# convert from float to int
mv_08_df['greenhouse_gas_score'] = mv_08_df['greenhouse_gas_score'].astype(int)

## All the dataypes are now fixed! Take one last check to confirm all the changes.

In [67]:
mv_08_df.dtypes

model                    object
displ                   float64
cyl                       int64
trans                    object
drive                    object
fuel                     object
veh_class                object
air_pollution_score      object
city_mpg                float64
hwy_mpg                 float64
cmb_mpg                 float64
greenhouse_gas_score      int64
smartway                 object
dtype: object

In [73]:
mv_18_df.dtypes

model                    object
displ                   float64
cyl                       int64
trans                    object
drive                    object
fuel                     object
veh_class                object
air_pollution_score     float64
city_mpg                float64
hwy_mpg                 float64
cmb_mpg                 float64
greenhouse_gas_score      int64
smartway                 object
dtype: object

In [78]:
mv_08_df.dtypes == mv_18_df.dtypes

False

#Exploring with Visuals